 {% extends "base.html" %}
 {% block title %}{{ artist_name }}{% endblock %}
 {% block head %}{{ artist_name }}{% endblock %}
 {% block content %}
 	<div id="Image">
 		<img src= {{ artist.Image }} height="300" >
 	</div>
 	<div id="Info">
		<h2>Debute date</h2>
		<p>{{ artist.Date}}</p>
		<h2>Current status</h2>
		<p>{{ artist.Status}}</p>

		{% if members %}
			<h2>Members</h2>
			 <ul>
			 	{% for member in members %}
				 	<li><a href="/musician/{{ member.MusicianId.MusicianId}}">
				 		{{ member.MusicianId.MusicianName }}</a> {{ member.Role }} ({{member.Time}})</li>
			 		{% endfor %}
			 </ul>
			 {% if user.is_authenticated %}
			 <a href="/search_member/{{ artist.ArtistId }}" class="add members">[Add members]</a>
			 {% endif %}
		{% else %}
		{% endif %}
		
		<h2>Bio</h2>
		<p>{{ artist.Bio}}</p>
	</div>
	<div id = "Discography">
	{% if albums %}
		<h2>Discography</h2>
		 <ul>
		 	{% for album in albums %}
			 	<li><a href="/album/{{ album.AlbumId }}">
			 		{{ album.AlbumName }}</a></li>
		 		{% endfor %}
		 </ul>
	{% else %}
	{% endif %}
	{% if user.is_authenticated %}
	<a href="/create_artist/?artist_id={{ artist.ArtistId }}"
		class="add album">[Add albums]</a>
	{% endif %}
	</div>	

	
	
	{% if user.is_authenticated %}
	<a href="/create_artist/?artist_id={{ artist.ArtistId }}"
		class="edit">[edit]</a>
	{% endif %}
{% endblock %}