 {% extends "base.html" %}
 {% block title %}{{ song_name }}{% endblock %}
 {% block head %}{{ song_name }}{% endblock %}
 {% block content %}
 	<div id="Info">
		<h2>Debute date</h2>
		<p>{{ artist.Date}}</p>
		<h2>Current status</h2>
		<p>{{ artist.Status}}</p>
	</div>
	<div id="Clip">
		<h2>Video</h2>
		<iframe class="youtube-player" type="text/html" width="640" height="385" src={{"http://www.youtube.com/embed/PBuqjzPh9ys"}} allowfullscreen frameborder="0">
		</iframe>
	</div>
		<h2>Discography</h2>
	 {% if albums %}
		 <ul>
		 	{% for album in albums %}
			 	<li><a href="/album/{{ album.AlbumId }}">
			 		{{ album.AlbumName }}</a></li>
		 		{% endfor %}
		 </ul>
	{% else %}
	 	<p>No albums found.</p>
	{% endif %}
{% endblock %}